<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- service section -->
<section class="service_section layout_padding mt-3" >
  <div class="container">
    <div class="heading_container">
      <h2 class="mb-3">
        자유게시판
      </h2>
    <table class="table" style="margin-bottom: 250px;">
      <tr>
        <th width="20%" class="text-center table-primary">번호</th>
        <td width="30%" class="text-center table-active" th:text="${vo.no}"></td>
        <th width="20%" class="text-center table-primary">작성일</th>
        <td width="30%" class="text-center table-active" th:text="${vo.regdate}"></td>
      </tr>
      <tr>
        <th width="20%" class="text-center table-primary">이름</th>
        <td width="30%" class="text-center table-active" th:text="${vo.name}"></td>
        <th width="20%" class="text-center table-primary">조회수</th>
        <td width="30%" class="text-center table-active" th:text="${vo.hit}"></td>
      </tr>
      <tr>
        <th width="20%" class="text-center table-primary">제목</th>
        <td width="30%" class="text-center table-active" th:text="${vo.subject}"></td>
      </tr>
      <tr>
        <td colspan="4" class="text-left" valign="top" height="200">
          <pre style="white-space: pre-wrap; background-color: white; border: none;" th:text="${vo.content}"></pre>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          <a th:href="@{/board/board_update(no=${vo.no})}" class="btn btn-xs btn-danger">수정</a>
          <a th:href="@{/board/board_delete(no=${vo.no})}" class="btn btn-xs btn-success">삭제</a>
          <a href="board/board_list" class="btn btn-xs btn-info">목록</a>
        </td>
      </tr>
    </table>
  </main>
</div>
</body>
</html>